* {
    margin: 0;
    padding: 0;
    cursor: default;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
}

i {
    text-decoration: none;
    font-style: normal;
    font-family: "iconfont";
}

html {
    overflow-x: auto;
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: 25px;
}

html::-webkit-scrollbar-track {
    background-color: #101010;
}

html::-webkit-scrollbar-thumb {
    background: #4e4e4e;
}

button {
    cursor: pointer;
}

button * {
    cursor: pointer;
}

body::before {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: transparent url() no-repeat fixed center;
    background-size: cover;
    filter: blur(3px);
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    padding: 15px 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav * {
    float: left;
}

.nav .icon {
    height: 50px;
}

.nav .title {
    margin: 0 20px;
    font: normal 400 20px/50px "Source Han Sans CN";
}

.nav .button {
    margin: 0 20px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    font: normal 400 30px/50px "STZhongSong";
    transition: all 0.1s ease;
}

.nav .button:hover {
    transform: scale(1.1);
}

.personal-info {
    position: fixed;
    left: 50%;
    width: 280px;
    padding: 15px;
    margin-top: 100px;
    margin-left: -900px;
}

.personal-info * {
    margin: 5px 0;
}

.personal-info .avatar {
    width: 100px;
    border-radius: 5px;
}

.container {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    padding-top: 80px;
}

.level {
    font: normal 400 25px/25px "Bender";
}

.username {
    font: normal 800 35px/35px "Source Han Sans CN";
}

.card {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.4);
}