body::before {
    background-image: url(../../assets/images/backgrounds/3.jpg);
}

.main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 600px;
    margin-left: -250px;
    margin-top: -350px;
    border-radius: 7px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}

.main-container .panel .title {
    font: normal 800 50px/60px "STZhongSong";
    margin-bottom: 10px;
}

.panel .item {
    margin-bottom: 10px;
}

.main-container .panel label {
    font: normal 400 30px/60px "Source Han Sans CN";
}

.main-container .panel input,
.register-panel .province {
    position: absolute;
    right: 150px;
    width: 200px;
    margin-top: 10px;
    padding-left: 5px;
    cursor: text;
    font: normal 400 20px/40px "Source Han Sans CN";
}

.register-panel .province {
    height: 40px;
}

.main-container .panel .send-verif-code-reg,
.main-container .panel .send-verif-code-ret {
    position: absolute;
    right: 30px;
    height: 40px;
    padding: 0 5px;
    font: normal 400 20px/40px "Source Han Sans CN";
}

.send-verif-code-reg {
    top: 320px;
}

.send-verif-code-ret {
    top: 180px;
}

.main-container #submit {
    width: 100%;
    height: 60px;
    font: normal 400 40px/50px "STZhongSong";
}

.main-container .buttons {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 60px);
}

.main-container .buttons * {
    height: 60px;
    width: 200px;
    margin-bottom: 15px;
    font: normal 400 40px/50px "STZhongSong";
}

.main-container .buttons #switch-b {
    position: absolute;
    right: 0;
}